/*Basic styling*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    max-width: 100%;
    margin: 0 auto;
}

/*Navbar styling*/
nav {
    background-color: #82AC9F;
    padding: 1em;
    line-height: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

/* TODO */

@media only screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}