@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Rubik+Dirt&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

header {
    background-color: #5C6AC4;
    color: white;
    text-align: center;
  }
  
  main {
    background-color: #F2F2F2;
    color: black;
    text-align: left;
  }
  
  footer {
    background-color: #5C6AC4;
    color: white;
    text-align: center;
  }