@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cantata One', serif;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Header container*/

#top-news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #628395;
}

.top-news-items {
    padding-bottom: 5px 25px;
    margin: 10px 0px;
}

.top-news-img {
    padding: 10px;
}

.top-news-text {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

/*Nav container*/

#nav-container {
    background-color: #DFD5A5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-title {
    font-weight: bold;
    font-size: 1.6em;
    padding: 5px;
}

/*Main container*/

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Domestic-news */

#domestic-news-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #DBAD6A;
    padding-bottom: 20px;
}

.domestic-news-img {
    padding: 5px;
    margin-top: 5px;
    padding-left: 20px;
}

.domestic-news-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.domestic-news-text {
    padding-left: 15px;
    padding-right: 35px;
}

.domestic-news-text::after {
    content: 'Olvasson tovább...';
    color: rgb(9, 9, 80);
    font-style: italic;
}

.domestic-news-text::first-letter {
    font-weight: bold;
    font-size: 1.3em;
}

/*Global news*/

#global-news-container {
    display: flex;
    flex-direction: column;
    background-color: #CF995F;
    max-width: 100%;
}

.global-news-section {
    padding: 10px;
}

.global-news-text {
    font-size: 1.2em;
}

.global-news-text::after {
    content: 'Kattintson a teljes cikkért...';
    color: rgb(3, 0, 0);
    font-style: italic;
    font-size: 0.8em;
}


@media screen and (max-width: 768px) {
    #top-news-container {
        display: flex;
    }
    .top-news-items {
        flex-wrap: wrap;
    }

    #global-news-container {
        display: flex;
    }

    .global-news-img {
        flex-shrink: 2;
    }

    #main-container {
        display: flex;
        flex-wrap: wrap;
    }

    #domestic-news-container {
        flex-wrap: wrap;
    }

}