* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 32px;
}

.wrapper {
  font-size: 1em;
  margin: 5px 0;
}

.wrapper * {
  border: 3px blue solid;
  background-color: blanchedalmond;
  height: 100px;
  margin: 5px 0;
}

.px {
  width: 200px;
}

.vw {
  width: 100vw - 5px;
}

.em {
  width: 10em;
}

/* EM and REM */

.em-rem p {
  font-size: 16px;
  line-height: 2em;
}

.em-rem div {
  font-size: 60px;
  border: 1px solid black;
}

.em-rem span {
  font-size: 0.5rem;
}