@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px;
    margin: 10px;
}

ul {
    padding: 10px;
    margin: 10px;
}

.navbar {
    background-color: #ACD8AA;
    color: white;
    text-align: center;
}

.navbar ul li {
    list-style: none;
    display: inline;
    margin: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


.header {
    background-color: #E78F8E;
    /* background-color: coral; */
    /* background-color: rgb(218, 75, 75); */
    color: white;
    /* height: 1000px;
    width: 50%; */
}

#name-title {
    text-align: center;
    /* font-size: 50px; */
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: black 1px solid;
}

#occupation {
    text-align: center;
}

p {
    line-height: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
    padding: 20px;
}