body {
	font-size: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}

img {
	width: 40px;
	border: #2e3fd8 solid 5px;
}

.wrapper {
	width: 500px;
	margin: 20px auto;
}

p, label {
	font-size: 1.3em;
	line-height: 1.3em;
}

p {
	padding-right: 80px;
	position: relative;
}

form {
	padding-right: 80px;
	margin-bottom: 20px;
}

fieldset {
	padding: 10px;
	position: relative;
}

label {
	display: block;
	float: left;
	width: 120px;
}

input, textarea {
	margin-bottom: 5px;
}

legend {
	font-size: 1.8em;
}

.top {
	position: absolute;
	bottom: 0;
	right: 0;
}

.home {
	position: fixed;
	top: 20px;
	left: 20px;
}

.newsletter {
	background: #2e3fd8;
	padding: 10px 0 0 80px;
	position: relative;
	min-height: 70px;
	font-size: 150%;
	color: white;
	text-align: center;
}

.close {
	position: absolute;
	right: 20px;
	top: 20px;
}

.signin {
	position: absolute;
	top: -25px;
	right: -80px;
}



