* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 2000px;

}

.box-container {

}

.boxes {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid black;
}

.blue-box {
    background-color: blue;
}

.orange-box {
    background-color: orange;
}

.white-box {
    background-color: white;
}

.yellow-box {
    background-color: yellow;
}

.green-box {
    background-color: green;
}

.red-box {
    background:red;
}