* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #d3d3d3;
    height: 100vh;
    /* height: 200px; */
    /* A konténer dislpay property-jét kell flexre állítani, így a konténerben található elemek flexbox elrendezést kapnak.*/
    display: flex;
    
    /* A flexbox elrendezéssel definiálunk egy fő tengelyt és egy kereszttengelyt, amely mentén elrendeződnek az elemek*/
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    
    /* A fő tengely mentén történő elrendezés módja a justify-content tulajdonság alapján történik: */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */

    /* A kereszttengely mentén történő elrendezés az align-items tulajdonság alapján történik:*/
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    
    /* Alapértelmezetten az elemeket mind egy sorba próbálja rendezni a flex a konténeren belül, de a wrap tulajdonsággal ez módosítható*/
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* A direction és a wrap együttes megadására a flex-flow tulajdonságot használhatjuk*/
    /* flex-flow: row nowrap; */ 
    /* Ez az alapértelmezett, egyenértékű a flex-direction: row és flex-wrap: nowrap parancsokkal együtt */

    /* Az align-content tulajdonság akkor használható, ha több sorba rendeződnek az elemeink a wrap tulajdonság
    megadásával, és rendelkezésre áll függőleges hely a konténerünkben*/
    /* align-content: flex-start, flex-end, center, stretch, space-around, space-between; */

    /* Megadhatunk minimális távolságot az elemek között a gap tulajdonsággal. Fontos, hogy ez csak az elemek között
    érvényes, a széleken nem */
    /* gap: 10px; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    /* row column gap */
    /* gap: 10px 20px;  */

}

.box {
    padding: 20px;
    width: 200px;
    text-align: center;
}

.box-1 {
    /* padding-top: 50px; */
    height: 100px;
    background-color: #ffee00;
}

.box-2 {
    /* padding-top: 30px; */
    height: 100px;
    background-color: #333f73;
}

.box-3 {
    /* padding-top: 10px; */
    height: 100px;
    background-color: #337343;
}

.box-4 {
    /* padding-top: 20px; */
    height: 100px;
    background-color: #6d7333;
}

